.weather_container {
  color: white;
  text-align: center;
  font-size: 60px;
}

.degree_wrapper {
  display: flex;
  justify-content: space-around;
}

.weekday, .temp{
  font-weight: 500;
}

.weekday,
.temp,
.city {
  margin: 0;
}

.city {
  font-size: 50px;
}

.degrees {
  font-size: 25px;
  position: relative;
  bottom: 30px;
  right: 20px;
}


